.DS_Store
I94_SAS_Labels_Descriptions.SAS
Capstone Project Template (1).ipynb

data/immigration_data/
data/temperature_data/
sas_data/
logs/
unittests.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*.pyc

aws.cfg